@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

header {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top {
  text-align: center;
  padding: 6px 0;
  background: #c92027;
}

.header__top p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.header__top span {
  font-weight: normal;
}

.header__middle {
  background: #f8f1e4;
  padding: 12px 0;
}

.header__middle > .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 24px;
}

.header__box-search {
  position: relative;
}

#search-results {
  z-index: 99999;
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.err-search {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
}

.table-search {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.form-search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}

.icon_search {
  padding: 5px 12px;
  border: none;
  background: #c92027;
  border-radius: 0 6px 6px 0;
}

.header__icon {
  justify-content: center;
  gap: 20px;
}

.icon-new img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icon_cart {
  position: relative;
}

.cout_cart {
  margin: 0px;
  font-weight: 400;
  text-transform: none;
  padding: 1px 4px;
  background: rgb(255, 65, 28);
  border-radius: 100px;
  width: 26px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: 50%;
  color: rgb(255, 255, 255) !important;
  font-size: 9px !important;
  line-height: 12px !important;
}

.header__menu {
  padding: 14px 0;
  margin: 0;
}

.menu {
  justify-content: center;
  gap: 32px;
}

.header__menu li a {
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
}

.icon-user {
  position: relative;
  cursor: pointer;
}

.icon-user:hover .sub-menu-user {
  display: block;
}

.sub-menu-user {
  position: absolute;
  width: 200px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-left: 0;
  margin-top: 12px;
  display: none;
  z-index: 99999;
}

.navbar {
  z-index: 999;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  cursor: pointer;
}

.sub-menu-user:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 5%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.sub-menu-user li {
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.sub-menu-user li:hover a {
  color: #fff;
}

.sub-menu-user li:hover {
  background: #c92027;
}

.sub-menu-user li:first-child:hover {
  border-radius: 4px 4px 0 0;
}

.sub-menu-user li:last-child:hover {
  border-radius: 0 0 4px 4px;
}

.parent_menu {
  position: relative;
  cursor: pointer;
}

.parent_menu:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  margin-left: 0;
  width: 200px;
  left: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  margin-top: 12px;
}

.sub-menu li {
  padding: 8px 12px;
  transition: 0.3s all ease;
}

.sub-menu li:hover {
  background: #c92027;
}

.sub-menu li a {
  font-weight: 500;
}

.sub-menu li:hover a {
  color: #fff;
}

.sub-menu:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 3%;
  margin-top: 24px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
/*footer*/

footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  padding-bottom: 24px;
  padding: 24px 0;
}

.footer-item {
  font-size: 14px;
  font-weight: 600;
}

.footer-item li:first-child {
  margin-top: 24px;
}

.footer-item li {
  font-weight: 400;
  margin-top: 8px;
  font-size: 13px;
}

.footer-item p:first-child {
  margin-bottom: 24px;
}

.footer-item p:nth-child(3) {
  margin: 24px 0;
}

.footer-item .app-icon {
  justify-content: start;
  gap: 12px;
}

.footer-item span {
  color: #c92027;
}

.footer-item form {
  justify-content: start;
}

.footer-item input {
  width: 60%;
  border: 1px solid #333;
  padding: 7px;
  outline: none;
}

.footer-item button {
  background: #333;
  color: #fff;
  padding: 7px;
  border: 1px solid #333;
}

.social-icon p:first-child {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.copyright {
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  margin: 0;
}

/*form*/

.btn-form {
  width: 100%;
  border: none;
  outline: none;
  background: #c92027;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
}

.forgot,
.no-acc a {
  display: inline-block;
  margin: 6px 0;
  font-size: 16px;
  font-weight: 600;
}

.login-fb {
  border: 1px solid #4285f4;
  background: #4285f4;
  justify-content: start;
  gap: 24px;
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.login-fb p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.login-google {
  background: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  justify-content: start;
  gap: 24px;
  padding: 10px 12px;
  cursor: pointer;
}

.login-google p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.form-control:focus {
  border: 1px solid #333;
  box-shadow: initial;
}

.form {
  width: 500px;
  margin: 0 auto;
}

.err {
  color: red;
  margin: 6px 0;
}

/*sản phẩm chi tiết*/
.breadcrumb p {
  font-size: 14px;
}

.coline {
  width: 1px;
  height: 50%;
  margin: 0 24px;
  background: #797979;
}

.product-info > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.product-img {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 12px;
}

.thumbnail-img {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.thumbnail-img img {
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

.muibox {
  background: rgb(237, 74, 54);
  border-radius: 4px;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}

.product-name {
  margin: 14px 0;
  text-transform: none;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}

.product-sku {
  margin: 12px 0;
  font-size: 14px;
}

.product-price {
  justify-content: space-between;
}

.price {
  font-size: 26px;
  font-weight: 600;
  color: #c92027;
  margin-top: 12px;
}

.price span {
  display: inline-block;
  margin-left: 12px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: line-through;
  color: #797979;
}

.status {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.line-dotted {
  width: 100%;
  height: 1px;
  border-top: 1px dashed #797979;
  margin: 16px 0;
}

.color p,
.size p,
.quantity p {
  font-weight: 600;
  margin-bottom: 8px;
}

.size {
  margin: 24px 0;
}

.color-type,
.size-type {
  justify-content: start;
  gap: 24px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 2px 22px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
}

input[type="radio"]:checked + label {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.quantity {
  justify-content: start;
  gap: 24px;
}

.btn-quantity button {
  border: 1px solid #797979;
  outline: none;
  padding: 6px 12px;
  background: #fff;
}

.btn-quantity input {
  border: 1px solid #797979;
  padding: 6px 12px;
  border-left: 0;
  border-right: 0;
  outline: none;
}

.guide {
  margin: 20px 0;
  cursor: pointer;
}

.btn-group {
  gap: 24px;
}

.btn-store {
  width: 100%;
  padding: 14px 0;
  border: 1px solid #333;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.add-to-cart:hover,
.buy-now:hover,
.btn-store:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-cart {
  width: 100%;
  justify-content: space-between;
  gap: 24px;
}

.add-to-cart {
  width: 70%;
  border: 1px solid rgb(201, 32, 39);
  padding: 14px 0;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  color: rgb(201, 32, 39);
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.buy-now {
  width: 100%;
  background: #c92027;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 0;
  border: 1px solid #c92027;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.line-bg {
  width: 100%;
  height: 3px;
  background: #f5f5f5;
  margin: 12px 0;
}

.title-pd {
  font-size: 24px;
  font-weight: 600;
}

.description ul {
  font-weight: 600;
  font-size: 14px;
}

.description li {
  font-weight: 400;
}

.title-pd {
  font-size: 24px;
  font-weight: 600;
}

.comment-ct {
  width: 100%;
  background: #f5f5f5;
  padding: 64px 0;
  margin-top: 24px;
}

.product-page > .container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 24px;
}

.product-page .category {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.product-page .category li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.product-page .category li a:hover {
  color: #c92027;
  transition: 0.3s all ease;
}

/*reakpoint cho điện thoại  */
@media screen and (max-width: 767px) {
  footer > .container {
    grid-template-columns: 1fr;
  }

  .form {
    width: 300px;
  }

  header {
    display: none;
  }

  .footer-item {
    margin: 16px;
  }
}

/*  máy tính bảng */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer > .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* HOME */
.wrap-content {
  max-width: 1200px;
  margin: 0 auto;
}

.slide-show {
  width: 100%;
  padding-top: 40px;
}

.slide-home {
  position: relative;
}

.slide-home .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 44px;
  margin-top: none;
  transform: translateY(calc(-100% - 10px));
}

.slide-home .owl-nav span {
  font-size: 24px;
}

.slide-home .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.owl-prev {
  width: 44px;
  aspect-ratio: 1/1;
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  left: 0;
}

.owl-next {
  width: 44px;
  aspect-ratio: 1/1;
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  right: 0;
}
